@font-face {
    font-family: Inter Regular;
    src: url(fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Jost;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}


.Jost-reg{
font-family: Jost !important;
}
.poppins-reg{
font-family: Poppins;
}
.smallsize{
    font-size: 90% !important;
}
.orangecolor{
    color: #f6623e !important;
}
.fontroman{
    font-family: 'Times New Roman', Times, serif;
}
.pricegray{
    color: #9D9D9D !important;
}
.pricegrays{
    color: #696666 !important;
}
.bg-orange{
    background-color: #f6623e !important;
}
.footerbg{
    background:#fff8f6;
}
.border-orange{
border: 2px solid !important;
border-color: #f6623e !important;
}
.pinkishbg{
    background-color: #fff8f6;
}
.twelvepx{
    font-size: 12px !important;
}
.exclusiveinput{
background-color: transparent !important;
border: hidden !important;
border-bottom-style: solid !important;
border-bottom-width: 2px !important;
border-bottom-color: black !important;
border-bottom-left-radius:0px !important;
border-bottom-right-radius:0px !important;

}
/* hero section  */
@media screen and (max-width:772px) and (min-width: 400px) {
.hero-bg{
background-image: url(Images/edited\ hero.png);
background-size: cover;
background-repeat: no-repeat;}
}
@media screen and (max-width:400px) and (min-width: 200px) {
    .hero-bg{
    background-image: url(Images/edited\ for\ media\ 2.png);
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    }
    
}

